<!DOCTYPE HTML>
<head>
    <title>Prescriptions</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body class="is-preload">
    <header id="header">
        <h1>Prescriptions</h1>
        <form method="post">
            <input type="text" name="drug" value="{{ request.form['drug'] }}">
            <input type="submit">
        </form>
    </header>
    {% if drug %}
      <p>Drug: {{ drug }}</p>
    {% endif %}
</body>